<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/assets/css/main.css"></link>
	<head>
		<!-- general -->
		<title>Splatoon Pretendo</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="main-body">
			{{{ body }}}
		</div>
	</body>
</html>
