:root {
	/* 1 is the base color, <1 are darker variations and >1 are lighter */

	--bg-shade-0: #131733;
	--bg-shade-1: #1B1F3B;
	--bg-shade-2: #23274A;
	--bg-shade-2-5: #2D3258;
	--bg-shade-3: #373C65;
	--bg-shade-3-5: #404673;
	--bg-shade-4: #494F81;

	--accent-shade-0: #673DB6;
	--accent-shade-1: #9D6FF3;
	--accent-shade-2: #A185D6;
	--accent-shade-3: #CAB1FB;

	--text-shade-0: #8990C1;
	--text-shade-1: #A1A8D9;
	--text-shade-2: #CAC1F5;
	--text-shade-3: #fff;

	--green-shade-0: #37a985;
	--green-shade-1: #59c9a5;

	--red-shade-1: #a9375b;

	--border: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--bg-shade-0);
}

.main-body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: var(--text-shade-0);
}

.title {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sub-title {
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
}

.splatfest {
    size: 0px;
    display: block;
    padding-bottom: 1in;
    background-color: var(--bg-shade-2-5);
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
}

.splatfest .art { 
    position: relative;
    margin-right:5%;
    margin-left: auto; 
    display: block;
    bottom: -50px;
    width: 480px;
    border-radius: 20px
}

.splatfest .splatfest-content {
    margin-top: -250px;
    padding-left: 5%;
    height: auto;
    width: 45%;
}

.splatfest .splatfest-content .theme {
    font-size: 4rem;
    padding-bottom: 20px;
}

.splatfest .splatfest-content .timestamp {
    font-size: 2rem;
    padding-bottom: 20px;
}

.splatfest .splatfest-content .stages {
    font-size: 1.25rem;
    margin-bottom: -3rem;
}

.maps {
    size: 0px;
    display: flex;
    padding-bottom: 20px;
    background-color: var(--bg-shade-2-5);
    padding-top: 20px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.maps .block {
    width: 18%;
    background-color: var(--bg-shade-3-5);
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    font-size: 1.5rem;
}

.maps .stage-image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maps .rule {
    margin-top: 5px;
}

.no-rotation {
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .splatfest .splatfest-content {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .splatfest .art {
        width: 90%;
        bottom: 0px;
        top: 20px
    }
    .splatfest .splatfest-content {
        margin-top: 30px;
        width: 90%;
        text-align: center;
    }
    .splatfest .splatfest-content .stages {
        font-size: 2rem;
    }
    .sub-title {
        text-align: center;
        padding-left: 0px;
    }
    .maps .block {
        width: 40%;
        margin-top: 20px;
        font-size: 2.5rem;
    }
}

/*@media screen and (max-width: 600px) {
    .maps .block {
        width: 90%;
    }
} I need to Fix theis */

.normal {
    background: repeating-linear-gradient(
        45deg,
        #31e849,
        #31e849 30px,
        #0a831a 30px,
        #0a831a 60px
      );
}

.ranked {
    background: repeating-linear-gradient(
        45deg,
        #ffa220,
        #ffa220 30px,
        #9d5c01 30px,
        #9d5c01 60px
      );
}

.colored {
    color: white !important;
}

.normal-text {
    background-color: rgba(10, 131, 26, 0.7);
    height: fit-content;
}

.ranked-text {
    background-color: rgba(157, 92, 1, 0.7);
    height: fit-content;
}